# Environment & dotenv
python-dotenv==1.1.1

# Arabic NLP


nltk==3.9.1


# Transformers & Hugging Face
torch==2.8.0
transformers==4.43.4
tqdm==4.67.1

# OpenAI
openai==0.28.0

# Flask for API
Flask==3.1.2


# Optional utilities
regex==2025.7.34
